/* this fixes my footer to the bottom of screen and is fully responsive */
.sf {
    width: auto;
    padding: 0 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
  }
  