footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 37, 170);
    color: white;
    text-align: center;
  }

  body {
    background-image: url(Assets/swissmountains.jpg);
    background-color: #cccccc;
  }